
@{
    ViewBag.Title = "About";
}

<h2>About me</h2>
<h3>Things you didn't know about me'</h3>
<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <p>
                My name is Ebrahim Abdula, an IT student studying at the University of Pretoria. I have a passion for business and adore studying 
                finacial markets. Coding is a skill I believe to be very valuable and since the world seems to be moving into the WEB 3.0 era,
                I thought "WHY NOT LEARN TO CODE" and hence I'm here. My hobbies include reading non-fiction books and writing poetry! 
            </p>
        </div>
        <div>
            <img src="~/App_Data/Me.jpg" alt="Me not SHowing" />
        </div>
    </div>
</div>

