@model IEnumerable<u18279547_HW03.Models.FileModel>
@using u18279547_HW03.Models

@{
    ViewBag.Title = "Video";
}

<!-- Below we include the jQuery Library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Add fancyBox -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" type="text/css" media="screen" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

<h2>Video Files</h2>
<h3>These are videos which you have uploaded</h3>
<br />
<br />
<br />

<div class="container-fluid">
    <div class="row">
        @foreach (FileModel file in Model)
        {
            <div class="card col-lg-4 col-md-4">
                <div class="gallery">
                    <a>
                        <video width="100%" height="240" controls>
                            <source src="~/Media/Videos/@file.FileName" type="video/mp4" />
                        </video>
                    </a>
                </div>
                <p>@file.FileName</p>
                @Html.ActionLink("Download", "DownloadFile", new { fileName = file.FileName }, new { @class = "btn btn-success btn-large" })
                @Html.ActionLink("Delete", "DeleteFile", new { fileName = file.FileName }, new { @class = "btn btn-danger btn-large" })
            </div>
        }

    </div>
</div>

<script>
    $(document).ready(function ($) {
        $(".gallery a").fancybox();
    });
</script>